FLASK_APP=webapp.py
FLASK_ENV=development
FLASK_DEBUG=1

# Secret key for Flask sessions
SECRET_KEY=your_secret_key_here

# Database configuration
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=reminders

# Mailgun
MAILGUN_API_KEY=api_key_gose_here
MAILGUN_DOMAIN=domain_dot_tld
MAILGUN_SENDER=noreply@domain_dot_tdl

